<style>
#container{
  background-image: url('images/kids-watching-tv-1950-wirewax1.jpeg');
}
</style>


<div id='subtitle'>
  <h2>
    You should really <br> get back to work,<br> or maybe even <br>read a book...
  </h2>
</div>